/* ==========================================================================
_Variables.scss over rides
========================================================================== */

$secondary:     #76C987;


$primary: #452B78;
$primary_light: #DDD8E6;
$primary_lighter: #F2F5F8;
$primary_dark: #322450;

$white: #ffffff;
$darkgrey: #DDD8E6;
$lightgrey: #F3F3F3;

$ui_1: #76C987;
$ui_2: #41BFB0;
$ui_3: #E3C636;
$ui_3_light: #F7EEC2 ;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    10: ($spacer * 6),
  ),
  $spacers
);

// buttons

.btn {
  color:#fff !important;
}

.btn.btn-dropdown {
 padding-right:50px;
 position:relative;
 &:after {
   position:absolute;
   right:10px;
   top:10px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-dropdown-white.svg) no-repeat center center;
 }
}

.btn.btn-add {
 // padding-left:50px;
 position:relative;
 &:after {
   position:absolute;
   left:10px;
   top:8px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-plus.svg) no-repeat center center;
 }
}


// Tooltips

$tooltip-bg:                        $primary;
$tooltip-padding-y:                 .25rem !default;
$tooltip-padding-x:                 1rem !default;

.bs-tooltip-bottom {
  margin-top:5px !important;
}

// Font family

$font-family-sans-serif:'Nunito Sans', sans-serif;

// Dropdown

$dropdown-min-width:                15rem;
$dropdown-bg:                       $primary_dark;
$dropdown-border-radius:            0;
$dropdown-link-hover-bg:            $primary;
$dropdown-link-hover-color:         $white;
$dropdown-item-padding-y:           1rem !default;
$dropdown-item-padding-x:           1.5rem !default;

.dropdown-menu {
    top: 97% !important;
    left: -1px !important;
}

//Breadcrumbs

$breadcrumb-divider:                quote("");
$breadcrumb-margin-bottom:          0;
$breadcrumb-bg:                     transparent;

.breadcrumb-item::before {
  text-indent:-9000px;
  background:url(../img/ico-breadcrumb-arrow.svg) no-repeat center center;
  display:inline-block;
  height:20px;
  width:20px;
  padding: 0px 20px !important;
  margin-top: 4px;
}

@import "node_modules/bootstrap/scss/bootstrap";

/* ==========================================================================
Custom Helpers
========================================================================== */

.bgcenter {
  background-position: center center;
}

.bgcover {
  background-size: cover;
}

.no-arrow.dropdown-toggle::after {
  display:none;
}

.width-100 {
  width:100%;
}

.ct {
  text-align:center;
}

.border-bottom-light-grey {
  border-bottom:1px solid $lightgrey;
}

.border-bottom-dark-grey {
  border-bottom:1px solid $darkgrey;
}

.no-list {
  list-style:none;
  padding:0;
}

/* ==========================================================================
Mixins
========================================================================== */

@mixin fade-all() {
	transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
}

/* ==========================================================================
High level selectors
========================================================================== */

a {
  @include fade-all;
}

/* ==========================================================================
Navigation
========================================================================== */

//alert dots

.alert-dot-black-border {
  position:relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    border: 2px solid $black;
    background: $ui_3;
    border-radius: 50%;
  }
}
.alert-dot-white-border {
  position:relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    background: $ui_3;
    border-radius: 50%;
  }
}

.nav-right {
  .alert-dot-black-border {
    position:relative;
    &:after {
      top: 25px;
      right: 29px;
      border: 2px solid $black;
    }
  }
  .alert-dot-white-border {
    position:relative;
    &:after {
      top: 25px;
      right: 29px;
      border: 2px solid $white;
    }
  }
}

nav.navbar {
  padding:0;
  background:$primary;
  a {
    color:$white;
  }

  .dropdown-toggle {
    padding: 26px 20px !important;
    margin-right:20px;
    border-right:1px solid $primary_light;
  }

  .nav-item.show {
    .dropdown-toggle {
      background:$primary_dark;
    }
  }

  .nav-right {
    a {
      padding:25px 30px;
      display:block;
      border-left:1px solid $primary_light;
    }
  }

  .nav-avatar {
    position:relative;
    a {
      width:75px;
      height:75px;
    }
    img {
      width:52px;
      height:52px;
      position:absolute;
      top: 12px;
      left: 13px;
    }
  }

  .nav-tabs {
    margin-top: 20px;
    border-bottom:0;
    .nav-link.active {
      border-top-color: $ui_2;
      border-top-width: 4px;
      a {
        color:$primary;
      }
    }
    li a {
      position:relative;
      padding:15px 40px 15px 20px;
      background:#553D84;
      margin-right: 5px;
      img {
        position:absolute;
        top: 18px;
        right: 11px;
      }
    }
  }
}



nav.navbar.nav-secondary {
    border-bottom:1px solid $primary_light;
    padding:10px 15px;

    .nav-item {
      border:1px solid $primary_light;
      border-radius:4px;
      padding: 20px;
      margin-right: 10px;
      display: inline-block;
      &:hover {
        cursor:pointer;
      }
    }

    .nav-item-1 {
      background:url(../img/ico-3dot-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-3dot-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-2 {
      background:url(../img/ico-person-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-person-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-3 {
      background:url(../img/ico-edit-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-edit-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-4 {
      background:url(../img/ico-history-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-history-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-5 {
      background:url(../img/ico-docs-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-docs-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-6 {
      background:url(../img/ico-map-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-map-active.svg) no-repeat center center $ui_1;
      }
    }
    .nav-item-7 {
      background:url(../img/ico-graph-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-graph-active.svg) no-repeat center center $ui_1;
      }
    }
}

/* ==========================================================================
Sidebar
========================================================================== */
.col-sidebar {
  padding:0;
  .inner {
    padding:10px 20px;
  }
}

.sidebar-cards {
  overflow-y:scroll;
  height:80vh;
  li {
    padding:20px 20px;
    border-bottom:1px solid $darkgrey;
    position:relative;
      &:hover {
        .inner {
          border-left-width: 8px;
          border-left-style: solid;
          border-left-color: $ui_1;
          border-radius: 8px;
          padding:10px 20px 10px 12px;
          background:$primary_lighter;
        }

        cursor:pointer;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 43px;
          right: 40px;
          width: 20px;
          height: 20px;
          background:url(../img/ico-close-tab-2.svg) no-repeat center center;
        }
    }
  }
}

/*
 *  custom scrollbars
 */

.scroll-style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

.scroll-style-1::-webkit-scrollbar
{
	width: 5px;
  border-radius: 5px;
	background-color: #fff;
}

.scroll-style-1::-webkit-scrollbar-thumb
{
	background-color:  $primary;
	border: 2px solid  $primary;
}


/* ==========================================================================
Main Content
========================================================================== */
.col-main-content {
  background:$lightgrey;
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
    margin-top:3rem;
}
