/* ==========================================================================
_Variables.scss over rides
========================================================================== */

$primary: #452B78;
$primary_light: #DDD8E6;
$primary_lighter: #F2F5F8;
$primary_dark: #322450;

$secondary:#76C987;


$white: #ffffff;
$grey_dark: #DDD8E6;
$grey_light: #F3F3F3;
$grey_lighter: #F9f9f9;

$black: #000;
$offblack: #3c3c3c;

$hr: #CCD2D8;

$ui_1: #76C987;
$ui_2: #41BFB0;
$ui_3: #E3C636;
$ui_4: #E46457;

$ui_3_light: #F7EEC2;

$field_bg: #F8F8F8;

/* ==========================================================================
Mixins
========================================================================== */

@mixin fade-all() {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

@mixin no-animation() {
	transition: all 0 !important;
	-moz-transition: all 0 !important;
	-webkit-transition: all 0 !important;
	-o-transition: all 0 !important;
}

@mixin fade-padding() {
	transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	-o-transition: padding 0.3s;
}

@mixin shadow() {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    10: ($spacer * 6),
  ),
  $spacers
);

.bg-ui-1 {
  &:after {
    background-color:$ui_1;
  }
}

.bg-ui-2 {
  &:after {
    background-color:$ui_2;
  }
}

.bg-ui-3 {
  &:after {
    background-color:$ui_3;
  }
}

.bg-ui-4 {
  &:after {
    background-color:$ui_4;
  }
}

.pl0 {
  padding-left:0;
}

.pr0 {
  padding-right:0;
}

.pr {
	position:relative;
}

// buttons

.btn {
  color:$white !important;
  min-width:50px;
  font-weight:300 !important;
}

.btn-outline-secondary {
  height:44px;
  color:$secondary !important;
  &:hover {
    color:$white !important;
  }
}

.btn-outline-primary {
  color:$primary !important;
  &:hover {
    color:$white !important;
  }
}

.btn.wide {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}


.btn.btn-dropdown {
 padding-right:37px;
 position:relative;
 &:after {
   position:absolute;
   right:10px;
   top:11px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-dropdown-white.svg) no-repeat center center;
 }
}

.btn.btn-add {
 position:relative;
 &:after {
   position:absolute;
   left:14px;
   top:9.5px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-plus.svg) no-repeat center center;
 }
}

.btn.btn-add-secondary {
 position:relative;
 &:after {
   position:absolute;
   left: 13px;
  top: 9.5px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-plus-secondary.svg) no-repeat center center;
 }
  &:hover {
     &:after {
       background:url(../img/ico-plus.svg) no-repeat center center;
     }
   }
}

.dropdown-menu-save-close {
  @include shadow;
  border:0 !important;
  background:$white !important;
  top:125% !important;
  left: -83px !important;
  border-radius:4px !important;
  .dropdown-item {
      padding:8px 10px !important;
      color:$primary;
      border-bottom:1px solid #d8d8d8;
      &:hover {
        background:$grey_lighter;
        color:$primary;
      }
  }
  .dropdown-item:last-of-type {
    border:0;
  }
}

.dropdown-menu-elipsis {
	animation: fadeIn ease 0.5s;
	-webkit-animation: fadeIn ease 0.5s;
	-moz-animation: fadeIn ease 0.5s;
	-o-animation: fadeIn 0.5s;
	-ms-animation: fadeIn 0.5s;

  @include shadow;
	margin-top:6px !important;
  border:0 !important;
  background:$white !important;
  border-radius:4px !important;
  .dropdown-item {
      padding:8px 10px !important;
      color:$primary;
      border-bottom:1px solid #d8d8d8;
      &:hover {
        background:$grey_lighter;
        color:$primary;
      }
  }
  .dropdown-item:last-of-type {
    border:0;
  }
}



//add symbol

.symbol-add {
 position:relative;
 padding-left:30px;
 &:after {
   position:absolute;
   left:0;
   top:2px;
   content:'';
   display:inline-block;
   height:20px;
   width:20px;
   background:url(../img/ico-plus-secondary.svg) no-repeat center center;
 }
}


// Tooltips

$tooltip-bg:                        $primary;
$tooltip-padding-y:                 .25rem  !default;
$tooltip-padding-x:                 1rem !default;

.bs-tooltip-bottom {
  margin-top:5px !important;
  opacity:1 !important;
}

.tooltip-inner {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.32);
}

// Font family

$font-family-sans-serif:'Nunito Sans', sans-serif;

// Dropdown

$dropdown-min-width:                15rem;
$dropdown-bg:                       $primary_dark;
$dropdown-border-radius:            0;
$dropdown-link-hover-bg:            $primary;
$dropdown-link-hover-color:         $white;
$dropdown-item-padding-y:           1rem !default;
$dropdown-item-padding-x:           1.5rem !default;

.dropdown-menu.top {
    top: 97%;
    left: -1px !important;
}

//Breadcrumbs

$breadcrumb-divider:                quote("");
$breadcrumb-margin-bottom:          0;
$breadcrumb-bg:                     transparent;



.breadcrumb-item::before {
  text-indent:-9000px;
  background:url(../img/ico-breadcrumb-arrow.svg) no-repeat center center;
  display:inline-block;
  height:20px;
  width:20px;
  padding: 0px 20px !important;
  margin-top: 4px;
}

.breadcrumb a {
    color:$primary !important;
    &:hover {
      color:$secondary !important;
      text-decoration:none;
    }
}

.breadcrumb-item.home a {
  background:url(../img/ico-breadcrumb-home.svg) no-repeat center center;
  background-size:contain;
  width:24px;
  &:hover {
    background-image:url(../img/ico-breadcrumb-home-hover.svg);
  }
}

//modals

$modal-sm:                          340px;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .48rem;
$input-btn-padding-x:         .65rem;
$input-btn-border-width:      2px;

//nav tabs
$nav-tabs-border-width:        0;

.nav-tabs-horizontal {
  margin-bottom:20px !important;


  //active tab
  .nav-link.active {
    background:$ui_2 !important;
    color:$white !important;
    border: 1px solid $ui_2 !important;
  }

  //inactive tab
  .nav-link {
    margin-right:20px;
    border-radius: 0.25rem !important;
    background:transparent !important;
    color:$primary !important;
    border: 1px solid $grey_dark !important;
    padding:0.4rem 1rem 0.5rem 1rem;;
  }
}

//nav tab icons

//edit
.nav-link.nav-link-edit {
  position:relative;
  padding: 0.5rem 1rem 0.5rem 2.5rem !important;
  &:before {
    position: absolute;
    content:"";
    display:block;
    background: url(../img/ico-edit-inactive.svg) no-repeat center center;
    height:25px;
    width:25px;
    left: 10px;
    top: 8px;
  }
}

.nav-link.nav-link-edit.active {

  &:before {
    background: url(../img/ico-edit-active.svg) no-repeat center center;
  }
}

/* ==========================================================================
mixins
========================================================================== */

@mixin fade-all() {
	transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
}

/* ==========================================================================
sass imports
========================================================================== */

@import "node_modules/bootstrap/scss/bootstrap";

/* ==========================================================================
Custom Helpers
========================================================================== */

.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn 0.5s;
-ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.museo-sans-rounded {
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a, a:hover {
  @include fade-all;
}

.mt-12px {
  margin-top:12px;
}

.hover-pointer {
  &:hover {
    cursor:pointer;
  }
}

.hover-crosshair {
  &:hover {
    cursor:all-scroll;
    }
}

.sortable {
  &:hover {
    cursor:all-scroll;
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.bgcenter {
  background-position: center center;
}

.bgcover {
  background-size: cover;
}

.no-arrow.dropdown-toggle::after {
  display:none;
}

.width-100 {
  width:100%;
}

.flex-width-0 {
	flex: 0 0 0 !important;
	max-width: 0 !important;
}

.ct {
  text-align:center;
}

.border-bottom-light-grey {
  border-bottom:1px solid $grey_light;
}

.border-bottom-dark-grey {
  border-bottom:1px solid $grey_dark;
}

.border-top-light-grey {
  border-top:1px solid $grey_light;
}

.border-top-dark-grey {
  border-top:1px solid $grey_dark;
}


.border-right-light-grey {
  border-right:1px solid $grey_light;
}

.border-left-dark-grey {
  border-left:1px solid $grey_dark;
}

.border-right-light-grey {
  border-right:1px solid $grey_light;
}

.border-right-dark-grey {
  border-right:1px solid $grey_dark;
}

.border-grey {
  border-color:$grey_dark;
}


.svg-white {
  fill:$white;
}

.no-list {
  list-style:none;
  padding:0;
  margin:0;
}

.input-mt {
  margin-top:25px;
}

.primary-color {
  color:$primary;
}

.secondary-color {
  color:$secondary;
}

.width-100 {
  width:100%;
}

.form-label-align-middle {
  height: 0px;
  display: inline-block;
  vertical-align: middle !important;
}


.value {
  background: #F7EEC2;
  color:$primary !important;
  padding: 3px 6px;
  margin-left:6px;
  border-radius: 15px;
  font-size: 12px;
  font-family: museo-sans-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.primary {
  color:$primary !important;
}

.secondary {
  color:$secondary !important;
}

.m-o {
  margin:0;
}

/* ==========================================================================
CSS animation
========================================================================== */

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* ==========================================================================
Custom gutters
========================================================================== */

.custom-gutter-1 > [class*='col-'] {
    padding-right:30px;
    padding-left:30px;
}

.custom-gutter-1 > [class*="col-"]:first-child {
  padding-left:15px;
}

.custom-gutter-1 > [class*="col-"]:last-child {
  padding-right:15px;
}


/* ==========================================================================
High level selectors
========================================================================== */


//bottom body spacing for fixed footer

body {
  padding-bottom:54px;
}

//modal body padding fix

.fixed-top, body {
  padding-right:0 !important;
}

hr {
  height:1px;
  border:0;
  background:$hr;
  margin:40px 0;
}

body {
  overflow-y: hidden;
}

.form-control {
  border-width: 1px;
}

/* ==========================================================================
mobile overlay
========================================================================== */

.mobile-warning {
  display:block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $primary;
  z-index: 99999;
  padding:80px 20px;
  h1,h2,h3,h4,p {
    color:$white;
  }
}

@media (min-width:980px) {
  .mobile-warning {
    display:none;
  }
}



/* ==========================================================================
Navigation
========================================================================== */

.nav-filter-dropdowns {
  display:none;
  @media (min-width:1260px) {
    display:flex;
  }
}

.btn-filter-by {
  display:none;
  @media (max-width:1259px) {
    display:block;
  }
}

.dropdown-toggle::after {
    border: 0 !important;
    content:'';
    display:inline-block;
    height:15px;
    width:15px;
    background:url(../img/ico-dropdown-white.svg) no-repeat;
    background-size:contain;
    position:absolute;
    top:27px;
    right:8px;
}



.navbar-brand {
  margin-right:25px;
}

//alert dots

.alert-dot-black-border {
  position:relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
    width: 12px;
    height: 12px;
    border: 2px solid #322450;
    border-radius: 50%;
  }
}
.alert-dot-white-border {
  position:relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    border-radius: 50%;
  }
}


  .alert-dot-black-border {
    position:relative;
    &:after {
      top: 20px;
      right: 29px;
      border: 2px solid #322450;
    }
  }
  .alert-dot-white-border {
    position:relative;
    &:after {
      top: 0;
      right: 0;
      border: 2px solid $white;
    }
  }


nav.navbar {
  padding:0;
  background:$primary;
  a {
    color:$white;
    &:hover {
      text-decoration:none !important;
    }
  }

  .dropdown-toggle-main {
    min-height:76px;
    padding: 23px 20px !important;
    border-right:1px solid #5C4689;
    &:hover {
      background:$primary_dark;
    }
  }

  .dropdown-item {
    padding: 20px 20px 20px 64px;
  }

  .dropdown-menu {
    padding:0;
    .icon-1 {
      position:relative;
      &:before {
        content:"";
        display:block;
        width:40px;
        height:40px;
        position:absolute;
        left: 18px;
        top: 12px;
        background:url(../img/ico-accidents.svg) no-repeat center left;
      }
      &:hover {
        &:before {
          background:url(../img/ico-accidents-active.svg) no-repeat center left;
        }
      }
    }
    .icon-2 {
      position:relative;
      &:before {
        content:"";
        display:block;
        width:40px;
        height:40px;
        position:absolute;
        left: 18px;
        top: 12px;
        background:url(../img/ico-customers.svg) no-repeat center left;
      }
      &:hover {
        &:before {
          background:url(../img/ico-customers-active.svg) no-repeat center left;
        }
      }
    }
    .icon-3 {
      position:relative;
      &:before {
        content:"";
        display:block;
        width:40px;
        height:40px;
        position:absolute;
        left: 18px;
        top: 12px;
        background:url(../img/ico-insights.svg) no-repeat center left;
      }
      &:hover {
        &:before {
          background:url(../img/ico-insights-active.svg) no-repeat center left;
        }
      }
    }
  }

  .nav-item.show {
    .dropdown-toggle {
      background:$primary_dark;
    }
  }

  .nav-right {
    a {
      padding:21px 30px;
      display:block;
      border-left:1px solid #5C4689;
      min-height: 74px;
    }
    .nav-item {
      &:hover {
        @include fade-all;
        background:$primary_dark;
      }
    }
  }

  .nav-avatar {
    position:relative;
    a {
      width:70px;
      height:70px;
    }
    img {
      width:48px;
      height:48px;
      position:absolute;
      top: 11px;
      left: 13px;
    }
  }

  .nav-tabs {
    margin-top: 20px;
    border-bottom:0;
    .nav-link.active {
      border-top-color: $ui_2;
      border-top-width: 6px;
      a {
        color:$primary;
      }
    }
    li a {
      position:relative;
      background:#553D84;
      border-top: 4px solid $primary;
      margin-right: 5px;
      padding: 18px 32px 18px 10px;
      min-height: 56px;

      &:focus {
        background:#553D84;
        border-top: 4px solid #553D84;
      }
      &:hover {
        background:$white;
        color:$primary;
        border-top: 4px solid $primary;
      }


      @include media-breakpoint-up(lg) {
        padding:13px 40px 13px 20px;
        font-size:16px;
      }

      font-size:10px;

      img {
        position:absolute;
        top: 16px;
        @include media-breakpoint-up(lg) {
          top: 16px;
        }
        right: 11px;
      }
    }
  }
}


nav.navbar.nav-secondary {
    border-bottom:1px solid $primary_light;
    padding:5px 15px;

    .nav-item.text {
      width:auto;
      background: $ui_2 !important;
      color: #ffffff !important;
      border: 1px solid $ui_2 !important;
      padding: 0.4rem 1rem 0.5rem 1rem;
      &:hover {
        @include fade-all;
        background: darken($ui_2, 5%) !important;
      }
    }

    .nav-item {
      border:1px solid $primary_light;
      border-radius:4px;
      height: 40px;
      width: 42px;
      margin-right: 10px;
      display: inline-block;
      &:hover {
        cursor:pointer;
        @include fade-all;
      }
    }

    .nav-item.active {
      background-color:$primary;
    }

    .nav-item-1 {
      background:url(../img/ico-3dot-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-3dot-active.svg) no-repeat center center $ui_2;
      }
    }
    .nav-item-1.active {
      background-image:url(../img/ico-3dot-active.svg);
    }

    .nav-item-2 {
      background:url(../img/ico-person-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-person-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-2.active {
      background-image:url(../img/ico-person-active.svg);
    }

    .nav-item-3 {
      background:url(../img/ico-edit-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-edit-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-3.active {
      background-image:url(../img/ico-edit-active.svg);
    }

    .nav-item-4 {
      background:url(../img/ico-history-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-history-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-4.active {
      background-image:url(../img/ico-history-active.svg);
    }

    .nav-item-5 {
      background:url(../img/ico-docs-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-docs-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-5.active {
      background-image:url(../img/ico-docs-active.svg);
    }

    .nav-item-6 {
      background:url(../img/ico-map-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-map-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-6.active {
      background-image:url(../img/ico-map-active.svg);
    }

    .nav-item-7 {
      background:url(../img/ico-graph-inactive.svg) no-repeat center center;
      &:hover {
        background:url(../img/ico-graph-active.svg) no-repeat center center $ui_2;
      }
    }

    .nav-item-7.active {
      background-image:url(../img/ico-graph-active.svg);
    }
}



.content-wrapper {
	height:100%; 
}

/* ==========================================================================
Sidebar
========================================================================== */

.open-sidebar-icon, .close-sidebar-icon {
	display:none;
}

.close-sidebar-icon.show {
	display:block;
}

.open-sidebar-icon.show {
	display:block;
}




.close-sidebar {
		position: absolute;
		margin-top:10px;
    right: -39px;
    z-index: 999;
    background: #fff;
    padding: 10px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.col-sidebar {
	// @include fade-all;
	margin-top:188px;
	height: 100vh;
  padding:0;
	overflow-y:scroll;
  overflow-x:hidden;
  .inner {
    padding:10px 20px;
    color:$primary;
  }
}

.sidebar-cards {
  padding-bottom:83px;

  li {
    padding:15px 20px;
    border-bottom:1px solid $grey_dark;
    position:relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 38px;
      right: 40px;
      width: 20px;
      height: 20px;
      background:url(../img/ico-close-tab-2.svg) no-repeat center center;
    }

      &:hover {
        cursor:pointer;
        .inner {
          @include fade-padding;
          border-left-width: 6px;
          border-left-style: solid;
          border-left-color: $ui_2;
          border-radius: 6px;
          padding:10px 20px 10px 12px;
          background:$primary_lighter;
        }
    }
  }
}

/*
 *  custom scrollbars
 */

.scroll-style-1::-webkit-scrollbar-track {
	background-color: #F7F3FF;
}

.scroll-style-1::-webkit-scrollbar {
	position:absolute;
	width: 5px;
  border-radius: 5px;
	background-color: #fff;
}

// .scroll-style-1:hover::-webkit-scrollbar {
//   width: 10px;
// }

.scroll-style-1::-webkit-scrollbar-thumb {
	background-color:  $primary_light;
	border: 2px solid  $primary_light;
  border-radius:8px;
}

.scroll-style-1:hover::-webkit-scrollbar-thumb {
	background-color:  $primary;
	border: 2px solid  $primary;
  border-radius:8px;
}

//scrollbars in data tables

.dataTables_scrollBody::-webkit-scrollbar-track {
	background-color: #F7F3FF;
}


.dataTables_scrollBody::-webkit-scrollbar {
	width: 5px;
  border-radius: 5px;
	background-color: #fff;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
	background-color:  $primary_light;
	border: 2px solid  $primary_light;
  border-radius:8px;
}

.dataTables_scrollBody:hover::-webkit-scrollbar-thumb {
	background-color:  $primary;
	border: 2px solid  $primary;
  border-radius:5px;
}



/* ==========================================================================
Main Content
========================================================================== */

.col-main-content {
	margin-top:188px;
  overflow-y: scroll;
	height: 100vh;

  background:$grey_light;
  padding:20px;
  h1,h2,h3,h4,h5,h6 {
    color:$primary;
    margin-bottom:20px;
    font-weight:600;
  }
  p, li {
    color:$primary;
  }
  @include media-breakpoint-up(lg) {
    padding:30px 60px 30px 60px;
  }

  //each white rounded block within main content div
  section {
    background:$white;
    border-radius:4px;
    padding:20px;
    margin-bottom:30px;
    @include media-breakpoint-up(md) {
      padding:30px;
    }
  }
}

//info cards

section.card-info {
  p {
    color:$primary;
  }
  padding:20px 80px 20px 20px;
  position: relative;
}

.card-info {
  &:after {
    background-size:cover !important;
    content:"";
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    height: 32px;
    width: 32px;
  }
}

.card-info.icon-twitter {
  &:after {
    background:url(../img/ico-twitter.svg) no-repeat center center;
  }
}

.card-info.icon-avatar {
  &:after {
    background:url(../img/avatar.jpg) no-repeat center center;
    border-radius:50%;
  }
}

.card-info.color-primary {
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: $primary;
  border-radius: 6px;
}

.card-info.color-secondary {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: $secondary;
  border-radius: 5px;
}

.card-info.color-tertiary {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #E3C636;
  border-radius: 5px;
}

//address list

.list-addresses {
  padding:0;
  border-radius: 5px;
  border:1px solid $primary_light;
  margin:20px 0;
  max-height: 350px;
  overflow-y: scroll;
  li {
    color:$primary;
    padding:10px 20px;
    border-bottom:1px solid $primary_light;
    &:hover {
      cursor:pointer;
      background-color:$primary_lighter;
    }
  }
}

//tags

.wrapper-tabs {
  padding:0 0 20px 0;
}

.tag {
  position: relative;
  display:inline-block;
  margin:0 15px 15px 0;
  border-radius:23px;
  background:#65508F;
  padding:10px 38px 10px 20px;
  min-width:84px;
  color:$white;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    background:url(../img/ico-close-tab.svg) no-repeat center center;
  }
  &:hover {
    color:$primary;
    cursor: pointer;
    background:$primary_light;
  }
}

//links

.list-links {
  margin-top:20px;
   li {
    padding:20px 20px 20px 42px;
    color:$primary;
    border-top:1px solid $grey_dark;
    position:relative;
    &:before {
        position:absolute;
        left:0px;
        top:20px;
        display:block;
        content:"";
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat:no-repeat;
    }
  }
}

li.link-primary {
  &:before {
    background-image:url(../img/ico-link-primary.svg);
  }
}

li.link-secondary {
  &:before {
    background-image:url(../img/ico-link-secondary.svg);
  }
}

// flow cards


section.card-flow {
  padding:20px 50px 20px 20px;
  position: relative;

  &:before {
    background-size:cover !important;
    content:"";
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    height: 30px;
    width: 30px;
  }

  &:after {
    background-size:cover !important;
    content:"";
    display:block;
    position:absolute;
    top: 38%;
    right: -46px;
    height: 34px;
    width: 34px;
  }

}

//step classes

section.card-flow.step {
  &:after {
    background:url(../img/ico-next.svg) no-repeat center center;
  }
}

section.card-flow.end {
  &:after {
    background:url(../img/ico-end.svg) no-repeat center center;
  }
}

//card icons
section.card-flow.icon-twitter {
  &:before {
    height:25px !important;
    width:25px !important;
    background:url(../img/ico-twitter.svg) no-repeat center center;
  }
}

section.card-flow.icon-avatar {
  &:before {
    background:url(../img/avatar.jpg) no-repeat center center;
    border-radius:50%;
  }
}


// history tabs

section.history {
  padding:0;
  .nav {
    margin-top: 5px;
  }
  .nav-link {
    border-radius:6px;
    border: 1px solid $grey_light;
    position:relative;
    &:hover {
      background:$grey_light;
			border-left-color: $ui_2;
    }
    &:before {
      background-size:cover !important;
      content:"";
      display:block;
      position:absolute;
      top: 12px;
      right: 12px;
      height: 48px;
      width: 48px;
    }
  }

  .nav-link.icon-avatar {
    &:before {
      background:url(../img/avatar.jpg) no-repeat center center;
      border-radius:50%;
    }
  }

  .nav-link {
        border-left-width: 6px;
        border-left-style: solid;
        border-left-color: $primary;
  }
  .nav-link.active {
        border-left-width: 6px;
        border-left-style: solid;
        border-left-color: $ui_2;
        background:$grey_light;
  }
  p {
    margin-bottom:0;
    color:$primary;
  }


}

//horizontal tabs

.tab-content-horizontal {
  .card-info::after {
    height:60px !important;
    width:60px !important;
  }
}


/* ==========================================================================
forms
========================================================================== */

section form {
  label {
    display:block;
    color:$offblack;
    text-transform: uppercase;
    font-size:12px;
  }
  label.prepopulated {
    text-transform: none;
    color:$black;
    font-size:16px;
  }
  .col {
    padding-bottom:15px;
  }
}

//top level form elements



input[type=text], input[type=password], input[type=number], textarea, select {
  background-color:$field_bg !important;
}

textarea {
  min-height:140px;
}

select {
  background:url(../img/ico-select.svg) no-repeat center right;
  background-size:25px;
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

// validation

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .form-control:valid, .form-control.is-valid {
	//moved more to the left to accommodate for chrome extensions injecting icons
    background-position: right calc(0.375em + 0.9rem) center !important;
}

// map section

section.map {
  padding:17px 0 0 0;
}

input.input-search {
    background:url(../img/ico-search.svg) no-repeat center right;
    background-size:40px;
    padding-right:60px;
}


/* ==========================================================================
Data tables
========================================================================== */

.dataTable {
	.dropdown-toggle {
			&:after {
				display:none;
			}
	}
}

.table-ellipsis {
	max-width:20px;
}

table.dataTable tbody {
	@include fade-all;
}

.open {
  color:#45B374;
}

.closed {
  color:#E0655A;
}

//sort icons

.dataTables_wrapper thead tr th {
	vertical-align: top;
}

th.sorting {
  &:before {
    display:none !important;
  }
  &:after {
    top: 4px !important;
    right: 0 !important;
    opacity:1 !important;
    position:absolute;
    content:'' !important;
    display:block;
    background:url(../img/ico-table-sort.svg) no-repeat;
    width: 20px;
    height: 16px;
    background-size:contain;
  }
}

th.sorting_asc {
  &:before {
    display:none !important;
  }
  &:after {
    top: 4px !important;
    right: 0 !important;
    opacity:1 !important;
    position:absolute;
    content:'' !important;
    display:block;
    background:url(../img/ico-table-sort-asc.svg) no-repeat;
    width: 20px;
    height: 16px;
    background-size:contain;
  }
}

th.sorting_desc {
  &:before {
    display:none !important;
  }
  &:after {
    top: 4px !important;
    right: 0 !important;
    opacity:1 !important;
    position:absolute;
    content:'' !important;
    display:block;
    background:url(../img/ico-table-sort-desc.svg) no-repeat;
    width: 20px;
    height: 16px;
    background-size:contain;
  }
}

//filter

.btn-filter {
  border:1px solid #816FA3;
  &:hover {
    background:$primary_dark;
    border: 1px solid $primary_dark;
    img {
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
    }
  }
}

.nav-bar-datatable {
  border-radius:4px;

  .btn-filter {
    margin-right:10px;
  }

  form.search {
    position:relative;
    &:before {
      position:absolute;
      content:'';
      display:block;
      height:21px;
      width:21px;
      background:url(../img/ico-filter.svg) no-repeat center center;
      background-size:cover;
      left: 18px;
      top: 20px;
      z-index: 999;
    }
  }

  .datatable-search {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    position:relative;
    padding-left: 55px;
    border-right:1px solid #5C4689 !important;
    height: 60px;
    border:0;
    background:$primary;
    color:$white;
    &:hover, &:focus {
      @include fade-all;
      background:#322450;
    }

  }

  .datatable-search::placeholder {
    color:$white;
  }


  .dropdown-toggle {
    padding: 19.5px 30px 19.5px 10px !important;
    border-right: 0 !important;
    background:$primary !important;
    &:hover {
      background:#322450 !important;
    }
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }
  }

  .dropdown-item {
    border-bottom:1px solid #d8d8d8;
    padding:10px !important;
    label {
      margin:0;
      display:block;
      cursor:pointer;
    }
    input[type='checkbox'] {
      border-radius:3px;
      margin-right:5px;
    }
  }

  .dropdown-menu {
    background:$white;
    margin-top: 8px;
    border-radius: 5px;
    border: 0;
    .dropdown-item {
      color: $primary;
    }
    .dropdown-item:hover, .dropdown-item:focus {
      color: $primary;
      background-color: $grey_lighter;
      cursor:pointer;
    }
  }

}

.dataTables_wrapper {
    width:100%;
    margin-bottom:40px;

//table header
    thead {
        tr {
          font-size:14px;
          letter-spacing: 1px;
        background: transparent !important;
        th {
          background: transparent;
          font-weight:normal;
          text-transform: uppercase;
          color:$primary;
          padding:5px 20px;
          font-size:12px;
        }

      }
    }

//table body
.dataTables_scrollBody {
  background:transparent !important;
      tr {
        color:$primary;
        background: $white;
        border-top:2px solid #F7F3FF;
        border-bottom:2px solid #F7F3FF;
      }

      td {
        padding:7px 20px 5px 20px;
        font-size: 15px;
        font-weight:400;
      }
  }


    .page-link {
      border:0;
      background:transparent !important;
      padding:0 15px;
    }


    .table-nav {
      margin-top:20px;
      color:$primary;
    }

}

div.dataTables_wrapper div.dataTables_info {
  padding-top:0 !important;
}


.dataTables_paginate li a {
  text-transform: uppercase;
  letter-spacing:1px;
  font-size:12px;
  color:$secondary;
}

.dataTables_paginate li.first a, .dataTables_paginate li.last a {
	color:#B0BAC9 !important;
}

.dataTables_paginate li.first.disabled a, .dataTables_paginate li.last.disabled a {
	opacity:0.5 !important;
}

.dataTables_paginate li.previous.disabled a {
	opacity:0.5 !important;
	color:$secondary !important;
}


.custom-select {
  background-color:transparent !important;
  -webkit-appearance: none;
}

/* ==========================================================================
Swiper
========================================================================== */

.swiper-container {
	padding:0 40px 0 40px;
	margin:0 auto;
	overflow:visible;
	&:hover {
		.swiper-scrollbar-drag {
			background:$primary !important;
		}
	}
}

.swiper-button-next:after, .swiper-button-prev:after {
	color:$primary;
	font-size: 24px !important;
}

.swiper-scrollbar {
    position: absolute;
    left: 0 !important;
    height: 4px !important;
    border-radius: 0 !important;
    width: 100% !important;
		background:$grey_lighter !important;
}

.swiper-scrollbar-drag {
	background:$primary_light !important;
	&:hover {
		background:$primary !important;
	}
}

section.carousel-state {
	padding-top:0;
	background:transparent;

	.swiper-button-next {
    right: -8px;
    top: 43%;
	}
	.swiper-button-prev {
		left: -8px;
    top: 43%;
	}
}

/* ==========================================================================
Modals
========================================================================== */

.modal-content {
  border-radius:0;
  height:100%;
}

.modal-open .modal-right {
    overflow-y: hidden !important;
}

.modal-right {
  overflow-y: hidden;
  max-width: 380px;
  left: auto;
  right: -28px;
  top: 47px;
  .modal-header {
    color:$primary;
    border:0;
    padding:1.2rem 1.8rem 0 1.8rem;
  }
  .modal-body {
    min-height:1280px;
    padding:1rem 1.8rem 1.8rem 1.8rem;
    p {
      color:$primary;
    }
    hr {
      margin:20px 0;
    }
  }

  .ui-sortable-handle {
    background:$white;
    padding:8px;
    border-radius:4px;
  }
	//when it is in a hover state
	.ui-sortable-handle:hover {
		position:relative;
		z-index: 999;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	}
	//when it is in a dragged state
	.ui-sortable-helper {
		position:relative;
		z-index: 999999;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
	}
}

.close {
  color:$primary;
  font-size:2rem;
  opacity:1;
  font-weight: 200;
}

/* ==========================================================================
Fixed Footer
========================================================================== */

.footer {
  padding:10px;
  @include media-breakpoint-up(md) {
    padding:15px 40px 0 15px;
  }
  background:$white;
}

ul.footer-values {
  li {
    color:$primary;
    display:inline-block;
    padding:0 15px 15px 0;
    span.footer-value {
      background:$ui_3_light;
      padding:5px 10px;
      margin:0 15px 0 5px;
      border-radius:15px;
      font-family: museo-sans-rounded, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  }
}
