<footer class="footer container-fluid fixed-bottom border-top-dark-grey">
    <ul class="footer-values no-list">
      <li>All  <span class="footer-value">30</span></li>
      <li>My Contacts <span class="footer-value">10</span></li>
      <li>Contacts in the last hour <span class="footer-value">6</span></li>
      <li>Most common feedback today <span class="footer-value">Covid capacity</span></li>
    </ul>
</footer>

<script src="js/all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"/>

<!-- <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.23/r-2.2.6/datatables.min.js"></script> -->

</body>
</html>
