<footer class="footer container-fluid fixed-bottom border-top-dark-grey">
    <ul class="footer-values no-list">
      <li>Label <span class="value">1</span></li>
      <li>Label <span class="value">10</span></li>
      <li>Label <span class="value">6</span></li>
      <li>Label <span class="value">8</span></li>
      <li>Label <span class="value">999</span></li>
    </ul>
</footer>

<script src="js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"/>

</body>
</html>
