<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css" />

    <title>EPM 5g - v1</title>
  </head>
<body>

  <div class="mobile-warning ct">
    <svg class="svg-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="64" height="64"><path fill-rule="evenodd" d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"></path></svg>
    <br/><br/>
    <h2>This application is best used on tablets in portrait orientation or desktop computers</h2>
  </div>

  <!-- md down top nav -->

  <nav class="navbar navbar-expand-md navbar-dark d-sm-flex d-md-none">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img alt="" src="img/ico-hamburger.svg"/>
        </a>
      </li>
    </ul>
    <a class="navbar-brand" href="#"><img alt="EPM" src="img/logo.svg"/></a>

  </nav>

  <!-- / md down top nav -->


<!-- medium up top nav -->

<div class="fixed-top">

  <nav class="navbar navbar-expand-md navbar-dark d-none d-md-flex">
    <ul class="navbar-nav">
    <li class="nav-item dropdown mr-3">
      <a class="nav-link dropdown-toggle dropdown-toggle-main no-arrow" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="" src="img/ico-hamburger.svg"/>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item icon-1" href="#">Accidents</a>
        <a class="dropdown-item icon-2" href="#">Customers</a>
        <a class="dropdown-item icon-3" href="#">Insights</a>
      </div>
    </li>
  </ul>

  <a class="navbar-brand" href="#"><img alt="EPM" src="img/logo.svg"/></a>

    <ul class="nav nav-tabs mr-auto">
      <li class="nav-item">
      <a class="nav-link active" href="#">
        Accidents
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Customers
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Insights
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    </ul>

    <ul class="navbar-nav nav-right">
      <li class="nav-item alert-dot-black-border">
        <a href="#"><img alt="" src="img/ico-alert.svg"/></a>
      </li>
      <li class="nav-item">
        <a href="#"><img alt="" src="img/ico-star.svg"/></a>
      </li>
      <li class="nav-item">
        <a href="#"><img alt="" src="img/ico-cog.svg"/></a>
      </li>
      <li class="nav-item nav-avatar">
        <a href="#"><img class="rounded-circle" alt="" src="img/avatar.jpg"/></a>
      </li>
    </ul>

  </nav>

  <!-- / large up top nav ends -->

  <nav class="navbar nav-secondary bg-white navbar-expand-md navbar-dark d-none d-md-flex">

    <div class="mr-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><img alt="home" src="img/ico-breadcrumb-home.svg"/></a></li>
        <li class="breadcrumb-item" aria-current="page">Page</li>
        <li class="breadcrumb-item" aria-current="page">Page</li>
      </ol>
    </nav>
    </div>


    <ul class="navbar-nav nav-secondary-right mr-4">
      <li class="nav-item nav-item-1 active" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-2" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-3" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-4" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-5  alert-dot-white-border" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-6" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-7" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
    </ul>
    <button type="button" class="btn btn-dropdown btn-secondary">Save & Close</button>
  </nav>

</div>
