<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>EPM 5g - v1</title>
  </head>
<body>

  <!-- md down top nav -->

  <nav class="navbar navbar-expand-lg navbar-dark d-sm-flex d-md-flex d-lg-none">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img alt="" src="img/ico-hamburger.svg"/>
        </a>
      </li>
    </ul>
    <a class="navbar-brand" href="#"><img alt="EPM" src="img/logo.svg"/></a>

  </nav>

  <!-- / md down top nav -->


<!-- large up top nav -->

  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-flex">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="" src="img/ico-hamburger.svg"/>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Accidents</a>
        <a class="dropdown-item" href="#">Customers</a>
        <a class="dropdown-item" href="#">Insights</a>
      </div>
    </li>
  </ul>

  <a class="navbar-brand mr-10" href="#"><img alt="EPM" src="img/logo.svg"/></a>

    <ul class="nav nav-tabs mr-auto">
      <li class="nav-item">
      <a class="nav-link active" href="#">
        Accidents
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Customers
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        Insights
        <img alt="" src="img/ico-close-tab.svg"/>
      </a>
    </li>
    </ul>

    <ul class="navbar-nav nav-right">
      <li class="nav-item">
        <a href="#"><img alt="" src="img/ico-alert.svg"/></a>
      </li>
      <li class="nav-item">
        <a href="#"><img alt="" src="img/ico-star.svg"/></a>
      </li>
      <li class="nav-item">
        <a href="#"><img alt="" src="img/ico-cog.svg"/></a>
      </li>
      <li class="nav-item nav-avatar">
        <a href="#"><img class="rounded-circle" alt="" src="img/avatar.jpg"/></a>
      </li>
    </ul>

  </nav>

  <!-- / large up top nav ends -->

  <nav class="navbar nav-secondary bg-white navbar-expand-lg navbar-dark d-none d-lg-flex">

    <div class="mr-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#"><img alt="home" src="img/ico-breadcrumb-home.svg"/></a></li>
        <li class="breadcrumb-item" aria-current="page">Page</li>
        <li class="breadcrumb-item" aria-current="page">Page</li>
      </ol>
    </nav>
    </div>


    <ul class="navbar-nav nav-secondary-right">
      <li class="nav-item nav-item-1" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-2" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-3" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-4" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-5" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-6" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
      <li class="nav-item nav-item-7" data-toggle="tooltip" data-placement="bottom" title="Details">
        <a href="#"></a>
      </li>
    </ul>
  </nav>
